{% extends 'base.html' %}

{% block title %}Comparar Predicciones{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Comparar Predicciones</h2>

    <!-- Mostrar la gráfica generada en el backend -->
    <div class="row mt-5 justify-content-center">
        <div class="col-md-10 text-center">
            <img src="data:image/png;base64,{{ image_base64 }}" alt="Gráfica de Comparación Estilizada" class="img-fluid" />
        </div>
    </div>

    <a href="{% url 'listar_predicciones' %}" class="btn btn-secondary mt-4">Volver</a>
</div>
{% endblock %}
